name: CI

on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build -t docker-ap-ci:${{ github.sha }} .
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to GHCR
        run: |
          docker tag docker-ap-ci:${{ github.sha }} ghcr.io/${{ github.repository }}:${{ github.sha }}
          docker push ghcr.io/${{ github.repository }}:${{ github.sha }}

          # mainブランチの場合はlatestタグも付ける
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            docker tag docker-ap-ci:${{ github.sha }} ghcr.io/${{ github.repository }}:latest
            docker push ghcr.io/${{ github.repository }}:latest
          fi
          
          # タグの場合はバージョンタグを付ける（例: v1.0.0）
          if [[ "${{ github.ref }}" == refs/tags/v* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
            docker tag docker-ap-ci:${{ github.sha }} ghcr.io/${{ github.repository }}:${VERSION}
            docker push ghcr.io/${{ github.repository }}:${VERSION}
          fi
